.card-box{
    display:grid;
    place-items: center;
    height:100vh;
    background-color: grey;

}
img{
    width:25%;
    height:100px;
    padding :0 20px 0 20px;

}
.input-box{
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 black;
    margin:20px;
}
.input-box>form > button{
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: inherit !important;
    background-color: #0a8d48;
    color: #fff;
    margin-left: 30px;


}
.input-box>h1{
    margin: 20px;
}
